<div id="<%= dom_id job %>">
  <p>
    <strong>Job:</strong>
    <%= job.job_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= job.status %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= job.link %>
  </p>

</div>
